<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="scripts/vue.min.js"></script>
    <script src="scripts/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <div>
            <input type="text" id="citySelect">
        </div>
        <div v-if="coords.lat !== 0 || coords.lng !== 0">
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaUN3-npeu8P_mlGwDmuEdMWFHhsZ4OZw&libraries=places"></script>
            <h3>Weather in {{currentWeather.name}}, {{currentWeather.sys.country}}</h3>
            <br>
            <img :src="'http://openweathermap.org/img/w/'+currentWeather.weather[0].icon+'.png'" alt=""><br>
            <span>{{currentWeather.weather[0].main}}</span><br>
            <!--<b>Current Temperature:</b> -->{{currentWeather.main.temp-273.15}}<sup>o</sup>C ({{((currentWeather.main.temp-273.15)*9/5)+32}}<sup>o</sup>F)<br>
            <!--<b>Min Temperature:</b> {{currentWeather.main.temp_min-273.15}}<sup>o</sup>C ({{((currentWeather.main.temp_min-273.15)*9/5)+32}}<sup>o</sup>F)<br>-->
            <!--<b>Max Temperature:</b> {{currentWeather.main.temp_max-273.15}}<sup>o</sup>C ({{((currentWeather.main.temp_max-273.15)*9/5)+32}}<sup>o</sup>F)-->

            <canvas id="hourChart">

            </canvas>
        </div>
    </div>
    <script src="scripts/app.js"></script>
</body>
</html>